<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <style>
        body {
            position: relative;
            min-height: 100vh;
            background-color: rgb(207, 228, 236);
        }

        .items {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .thumbnail {
            max-width: fit-content;
            width: 100%;
            height: 40%;
        }

        img {
            width: 70%;
            height: 70%;
        }

        .page_buttons {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    </style>
    <title>Product Page</title>
</head>

<body>

    <!--NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">ShopOnline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main_page">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/computers">Computers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laptops">Laptops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/keyboards">Keyboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/computer_mouse">Mouse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/smartphone">SmartPhone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/audio">Audio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tv_image">TV & Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video_games">Console & Video Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/office">Office</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/health">Health</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/beauty">Beauty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home_decoration">Decoration & Home</a>
                </li>
                <li class="nav-item" id="my_shopping">
                    <a class="nav-link" href="/shopping_cart">
                        <h5>*MyShopping!*</h5>
                    </a>
                </li>
            </ul>
            <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="input" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

        </div>
    </nav>
    <!--NAV-->

    <br>

    <!--Recommended display cards-->
    <div class="items">
        <div class="jumbotron">
            <% for(var i=0 ; i < 2 ; i++) {%>

                <h3 class="display-4">
                    <%= items[i].product_name %>
                </h3>
                <p class="lead">
                    <a href="/product/<%=items[i]._id%>"><img src="<%= items[i].image_url %>"
                            alt="<%= items[i].product_name %>"></a>
                </p>
                <hr class="my-4">
                <p>
                    <%= items[i].description %>
                </p>
                <h1>
                    <%= items[i].price %> €
                </h1>
                <div class="page_buttons">
                    <p class="lead">
                    <form action="/add_to_cart" method="POST">
                        <input type="hidden" name="product_name" value="<%= items[i].product_name %>" />
                        <input type="hidden" name="price" value="1<%= items[i].price %>" />
                        <input type="hidden" name="_id" value="<%= items[i]._id %>" />
                        <button type="submit" class="btn btn-secondary btn-lg">Add to cart!</button>
                    </form>
                    </p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/recommended/<%= items[i]._id %>" role="button">See
                            Recommended Bundles</a>
                    </p>
                </div>
                <% } %>
        </div>
    </div>
    <!--Recommended display cards-->


    <br>
    <br>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright Fábio Rodrigues
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- Local script -->
    <script type="text/javascript" src="script.js"></script>

</body>

</html>