<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    body {
        position: relative;
        min-height: 100vh;
        background-color: rgb(207, 228, 236);
    }

    .items {

        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;

    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    img {
        width: 100%;
        height: 40%;
    }
</style>
<script>
    $('.dropdown-toggle').dropdown()
</script>
<title>ShopOnline - Manager</title>
</head>

<body>

    <!--NAV-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">ShopOnline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="menu1"
                        data-toggle="dropdown">Categories
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/root_control">All</a>
                        <a class="dropdown-item" href="/root/computer">Desktops</a>
                        <a class="dropdown-item" href="/root/laptop">Laptops</a>
                        <a class="dropdown-item" href="/root/computer_accessories">Computer Acessories</a>
                        <a class="dropdown-item" href="/root/keyboard">Keyboards</a>
                        <a class="dropdown-item" href="/root/mouse">Computer Mouse</a>
                        <a class="dropdown-item" href="/root/smartphone">SmartPhone</a>
                        <a class="dropdown-item" href="/root/smartphone_accessories">SmartPhone Acessories</a>
                        <a class="dropdown-item" href="/root/audio">Sound System / Home</a>
                        <a class="dropdown-item" href="/root/bluetooth_speaker">Bluetooth Speakers</a>
                        <a class="dropdown-item" href="/root/headphones">Headphones</a>
                        <a class="dropdown-item" href="/root/television">TV & Image</a>
                        <a class="dropdown-item" href="/root/video_games">Console & Video Games</a>
                        <a class="dropdown-item" href="/root/office">Office</a>
                        <a class="dropdown-item" href="/root/health">Health</a>
                        <a class="dropdown-item" href="/root/beauty">Beauty</a>
                        <a class="dropdown-item" href="/root/home_decoration">Decoration & Home</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sales_overview">Sales Overview</a>
                </li>
        </div>

        </ul>
        <form action="/root_search" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="input" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <span class="navbar-text">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-add"
                data-whatever="@mdo">Add Product!</button>
        </span>
        </div>
    </nav>
    <!--NAV-->

    <br><br>

    <!--Add entry form-->
    <div class="modal fade" id="exampleModal-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insert Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/add_list_item" method="POST">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Product Name:</label>
                            <input type="text" class="form-control" name="product_name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" name="price">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" name="description">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Image URL:</label>
                            <input type="text" class="form-control" name="image_url">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Category:</label>
                            <select name="category">
                                <option name="computer" value="computer">Computer</option>
                                <option name="laptop" value="laptop">Laptop</option>
                                <option name="television" value="television">Television/Video</option>
                                <option name="audio" value="audio">Audio</option>
                                <option name="decoration" value="decoration">Decoration</option>
                                <option name="office" value="office">Office</option>
                                <option name="health" value="health">Health</option>
                                <option name="beauty" value="beauty">Beauty</option>
                                <option name="keyboard" value="keyboard">Keyboard</option>
                                <option name="mouse" value="mouse">Computer Mouse</option>
                                <option name="video_games" value="video_games">Video Games</option>
                                <option name="smartphone" value="smartphone">Smartphone</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Product!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Add entry form-->

    <br>

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Today
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> This Week
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> This Month
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off"> All
        </label>
    </div>

    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><b>Order #</b></th>
                <th scope="col"><b>Customer Name:</b></th>
                <th scope="col"><b>Email:</b></th>
                <th scope="col"><b>Purchase Total:</b></th>
                <th scope="col"><b>Purchase Page:</b></th>
                <th scope="col"><b>Purchase Date:</b></th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < orders.length; i++) {%>
                <tr>
                    <th scope="row">
                        <%= orders[i].order_number %>
                    </th>
                    <td>
                        <%= orders[i].customer_name %>
                    </td>
                    <td>
                        <%= orders[i].customer_email %>
                    </td>
                    <td>
                        <%= orders[i].total %>€
                    </td>
                    <td><a href="/purchase_page/<%=orders[i].order_number%>"><i
                                class="material-icons">description</i></a></td>
                    <td>
                        <%= orders[i].date %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <br><br>
    <br><br>

    <!-- Footer -->
    <footer class="page-footer font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright Fábio Rodrigues
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <!-- Local script -->
    <script type="text/javascript" src="script.js"></script>

</body>

</html>